<form method="post">
    <input name="username" placeholder="Admin user" />
    <input name="password" type="password" />
    <button type="submit">Login</button>

    @if (ViewBag.Error != null)
    {
        <p style="color:red">@ViewBag.Error</p>
    }
</form>
