<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <meta name="description" content="@ViewData["Description"]" />

    @if (ViewData["NoIndex"] as bool? == true)
    {
        <meta name="robots" content="noindex, nofollow" />
    }

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
  
    <link rel="stylesheet" type="text/css" href="~/Content/Home/slick.css" />
    <script type="text/javascript" src="~/Script/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" src="~/Script/Home/slick.min.js"></script>
    <script src="~/Script/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="icon" href="/uploads/cbf7823d-e5f1-49fd-801a-8bf2253d4547_iconlogo.png" sizes="32x32" />
</head>
<body style="margin-bottom:unset;">
    @await Html.PartialAsync("/Views/Shared/_PartialHeader.cshtml")
    <div class="container" style="margin: unset;max-width: unset;padding:unset">
        <main role="main" class="" style="padding-bottom:unset">
            @RenderBody()
        </main>
    </div>
    @await Html.PartialAsync("/Views/Shared/_PartialFooter.cshtml")

</body>
</html>
